[Unit]
Description=QOR Demo
After=network.target
#After=remote-fs.target

[Service]
Type=simple
User=qor
Group=qor
WorkingDirectory=/home/qor/app/
ExecStart=/home/qor/app/qor-example
Restart=always
Environment="GIN_MODE=release"
Environment="QORCONFIG=/home/qor/app/config/database.yml"
Environment="QORROOT=/home/qor/app"
Environment="GOPATH=/home/qor/lib"

[Install]
WantedBy=multi-user.target