<!DOCTYPE html>
<html lang="en-US"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>
      Admin
 - Qor DEMO
    </title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="/img/favicon.ico">
    <link type="image/x-icon" rel="icon" href="/img/favicon.ico">


    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/material.min.css"><link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/cropper.min.css"><link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/chosen.min.css"><link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/redactor.css"><link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/qor.css"><link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/app.css">
    <link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/qor_demo.css">

    <script src="/admin/assets/javascripts/jquery.min.js"></script>
  </head>

  <body class=" qor-theme-slideout">

    <a class="visuallyhidden" href="#content" tabindex="1">Skip to content</a>

    <div class="mdl-layout__container"><div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout has-drawer is-upgraded" data-upgraded=",MaterialLayout">
      <header class="mdl-layout__header is-casting-shadow"><div class="mdl-layout__drawer-button"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Admin
</span>

<div class="mdl-layout-spacer"></div>
<small class="mdl-layout-text mdl-layout--large-screen-only">Logged in as admin</small>
<nav class="mdl-navigation mdl-layout--large-screen-only">
  <a class="mdl-navigation__link" href="/logout"><i class="material-icons">exit_to_app</i></a>
</nav>


        </div>
      </header>

      <div class="mdl-layout__drawer">
        <div class="qor-layout__sidebar">
  <div class="sidebar-header">
    <a href="/admin"><span class="visuallyhidden">QOR</span></a><a href="/" target="_blank">View Site <i class="material-icons md-14" aria-hidden="true">open_in_new</i></a>
  </div>


</div>

      </div>

      <main class="mdl-layout__content qor-page" id="content">
        <div class="qor-page__body">








</div>

      </main>
    <div class="mdl-layout__obfuscator"></div></div></div>


    <script src="/admin/assets/javascripts/material.min.js"></script><script src="/admin/assets/javascripts/redactor.min.js"></script><script src="/admin/assets/javascripts/cropper.min.js"></script><script src="/admin/assets/javascripts/chosen.jquery.min.js"></script><script src="/admin/assets/javascripts/qor.js"></script><script src="/admin/assets/javascripts/app.js"></script>
    <script src="/admin/assets/javascripts/qor_demo.js"></script>



<div class="qor-slideout"><div class="qor-slideout__header"><button type="button" class="mdl-button mdl-button--icon mdl-js-button mdl-js-repple-effect qor-slideout__close" data-dismiss="slideout" data-upgraded=",MaterialButton"><span class="material-icons">close</span></button><h3 class="qor-slideout__title"></h3></div><div class="qor-slideout__body"></div></div></body></html>